<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<h1>Добавление преподавателя</h1>
<form class="container" method="post">
    <label for="name">ФИО</label>
    <input class="form-control" id="name" name="name">
    <label for="photo-url">Ссылка на фотографию</label>
    <input class="form-control" id="photo-url" name="photo-url">
    <label for="link">Ссылка на профиль</label>
    <input class="form-control" id="link" name="link">
    <input type="submit" value="Создать">
    <input type="button" value="Отмена" onclick="window.location = window.location.href">
    <input type="button" value="Назад" onclick="window.location.href = '{{ url_for("admin.index") }}'">
</form>
</body>
</html>