<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
<h1>Редактирование адресов</h1>
{% for elem in addresses %}
    <div><a href="{{ url_for("admin.edit_address_n", id_=elem.id) }}">{{ elem.address }}</a></div>
{% endfor %}
<div style="margin-top: 1em">
    <input type="button" value="Назад" onclick="window.location.href = '{{ url_for("admin.index") }}'">
</div>
{% if message is not none %}
    <script>alert("{{ message }}")</script>
{% endif %}
</body>
</html>